form .small {
    font-size: 0.75rem;
    margin: 0.5rem;
}

.form-switch .form-check-input {
    margin-left: 1rem !important;
}

.dropdown-toggle::after {
    vertical-align: 0;
}

form .small {
    margin: 0.5rem;
}