#wrapper {
    height: 100vh;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

.scrollarea {
    overflow-y: auto;
}

.post img {
    min-width: 100%;
    max-width: 100%;
}

p.excerpt {
    max-width: 500px;
    margin: 0 auto;
}

.post {
    margin: 0 auto;
    max-width: 800px;
    padding-bottom: 100px;
}

#sidebar {
    border-right: 1px solid $dark-color;
}

.search-bar {
    border-bottom: 1px solid $dark-color !important;
}

.navbar {
    border-bottom: 1px solid $dark-color;
}