.navbar-brand {
    margin-right: 0 !important;
    margin-left: 1rem;
}

@media screen and (max-width: 386px) {
    .navbar-brand {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .navbar-brand {
        font-size: 1.7rem !important;
        padding-bottom: 0;
    }
}