@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

.landing-page h1 {
    font-size: 4rem !important;
}

.content h3,
.content h4,
.content h5,
.content h6 {
    margin-top: 4rem;
}

@media screen and (max-width: 768px) {
    .landing-page h1 {
        font-size: 3rem !important;
    }
}