[data-bs-theme="light"] {
    .btn-primary:hover {
        color: $dark-color;
    }

    #profile>*:hover {
        color: var(--bs-primary);
    }

    @media screen and (max-width: 320px) {
        .landing-page h1 {
            font-size: 2rem !important;
        }
    }
}