
#wrapper {
  height: 100vh;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-top: 5rem;
}

.scrollarea {
  overflow-y: auto;
}


img {
  max-width: 100%;
}

.modal {
  small {
    font-size: 0.75rem;
  }
}


.navbar-brand:hover {
  transform: scale(1.1);

}

button {
  &:hover {
    transform: scale(1.1);
  }
}
